* {
}

body {
    display: flex;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 600px;
    flex: 0 1 auto;
    padding: 25px;
    gap: 25px;
    background-color: deepskyblue;
    flex-shrink: 1;
}

label, button, #calc {
    border: 2px solid black
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 auto;
    gap: 25px;
    flex-shrink: 1;
    height: 10px
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    font-size: 40px;
    height: 100%;
    width: 40px;
}


label {
    flex: 1 1 auto;
    background-color: lightgray;
    text-align: end;
    position: relative;
    vertical-align: bottom;
}

label span{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    font-size: 4.5em;
    height: 100%
}
